

<div class="row search-result container theme-showcase" ng-hide="location.locations.length">
    <h2 style="color: #fff">No locations, you can add one</h3>
</div>

<div class="search-box container theme-showcase" ng-hide="location.showEditor">
    <button ng-click="location.add()" class="btn btn-primary" type="button">Add new</button>
</div>

<div class="search-box container theme-showcase" ng-show="location.showEditor">
    <select class="location-list" ng-model="location.currentItem.suburb"
        ng-options="suburb for suburb in location.suburbs">
        <option value="">Select Suburb</option>
    </select><br>
    <!-- <label  style="color: #fff"for="dimension">Dimension</label><br> -->
    <input type="number" ng-model="location.currentItem.costPerPeriod" value="" placeholder="Cost per Period"></br>
    <input type="number" ng-model="location.currentItem.minLendingPeriod" value="" placeholder="Minimum Lending Period"></br>
    <input type="number" ng-model="location.currentItem.totalSize" value="" placeholder="Dimension"></br>
    <input type="text" ng-model="location.currentItem.streetAddress" value="" placeholder="Street Address"></br>

    <button class="btn btn-primary" type="submit" name="search-button"
    ng-click="location.submitNew()">Submit</button>
    <button class="btn btn-warning push-right" type="button" 
    ng-click="location.cancelAdd()">Cancel</button>
</div>

<div class="row search-result container theme-showcase" ng-show="location.locations.length && !location.showEditor">
        <h3 style="color: #fff">My Locations</h3>
    <ul class="search-list">
        <div ng-repeat="item in location.locations" class="col-xs-12 col-sm-6 col-md-4">
            <!-- <img src="http://via.placeholder.com/200x250"> -->
            <h3 style="overflow-wrap: break-word;">{{item.storageLocationId}}</h3>
            <p>Location: <span class="detail">{{item.locale}}</span></p>
            <p>Street Address: <span class="details">{{item.streetAddress}}</span></p>
            <p>Cost: <span class="details">{{item.costPerPeriod}}/{{item.periodType | lowercase }}</span></p>
            <p>Total Size: <span class="detail">{{location.totalSize(item.totalSize)}}m<sup>3</sup></span></p>
            <!-- <button class="btn btn-info" disabled>Edit</button> -->
            <button ng-click="location.remove(item)" class="btn btn-danger">Remove</button>
        </div>
    </ul>
</div>