
<div class="sign-up container ">
        
    <h3>Welcome to </br><span>OurSpace</span><h3>
    <h5>Please Enter Details</h5>

    <form>
        <input type="text" ng-model="signup.email" name="email" value="" placeholder="E-mail"></br>
        <input type="text" ng-model="signup.firstName" name="firstname" value="" placeholder="First Name"></br>
        <input type="text" ng-model="signup.lastName" name="lastname" value="" placeholder="Last Name"></br>
        <input type="text" ng-model="signup.funds" name="funds" value="" placeholder="Funds"></br>
    <!-- <input type="password" name="password" value="" placeholder="Password"></br> -->
    <button type="button" name="button"
        ng-click="signup.signup()">Sign Up</button>
    </form>

    <a href="#!signin">Sign In</a>

</div>
        