
<div class="transaction container theme-showcase">

    <h1>My Transactions</h1>

    <!-- <div class="row search-result container theme-showcase" ng-hide="location.locations.length">
        
    </div> -->
    
    <div class="row" ng-repeat="tran in transaction.transactions"
        ng-hide="transaction.transactions">
        <h2 style="color: #fff">No transaction</h3>
    </div>

    <div class="row" ng-repeat="tran in transaction.transactions"
    ng-show="transaction.transactions">
        <div class="col-xs-3">1</div>
        <div class="col-xs-3">2</div>
        <div class="col-xs-3">3</div>
        <div class="col-xs-3">4</div>
    </div>
</div>
