* {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(120deg, rgb(99, 92, 92), rgb(255, 173, 173));
}

main {
  align-items: center;
  margin: auto;
  width: 445px;
  border: 1px solid #cef;
  padding: 5px 5px 10px 0;
  border-radius: 15px;
  background: linear-gradient(120deg, rgb(177, 4, 4), rgb(39, 25, 25));
}

/* input {
  width: 423px;
  font-size: 40px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: right;
  border-radius: 15px;
  background-color: yellow;
} */

#expression, #current {
  height: 1em;
  width: 418px;
  font-size: 40px;
  margin-left: 10px;
  text-align: right;
  background-color: yellow;
  padding: 5px;
}

#expression {
  margin-top: 10px;  
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#current {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#buttons {
  width: 445px;
  flex-wrap: wrap;
  display: flex;
}

button {
  width: 100px;
  min-width: 100px;
  height: 80px;
  font-size: 40px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 15px;
  background-color: rgb(201, 201, 201);
}

button.double {
  width: 210px;
  min-width: 210px;
}

button.clear {
  background-color: rgb(247, 225, 166);
}

button.equal {
  background-color: rgb(208, 250, 195);
}
