h1{ font-family : 'Calligraffitti', Arial, Helvetica, sans-serif; font-size : 18px; text-decoration : none; color : #993333; margin: 18 0 5 0; }
h2{ font-family : Arial, Helvetica, sans-serif; font-size : 14px; text-decoration : none; color : Navy; margin: 0 0 5 0; }
h3{ font-family : Arial, Helvetica, sans-serif; font-size : 12px; text-decoration : none; color : Navy; margin: 0 0 5 0; }
p {
	margin: 0px;
	padding: 0px;
}
a{
    color: #542b77;
}
a:hover {color: Black;}
.body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 14px;
	text-decoration: none;
	color: Black;
	line-height: 22px;
padding:0;
margin-top: 1em;
margin-bottom: 1em;
}
p{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 14px;
	text-decoration: none;
	color: Black;
	line-height: 22px;
padding:0;
margin-top: 1em;
margin-bottom: 1em;
}
.link{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 14px;
	text-decoration: underline;
	color: #542b77;
	line-height: 22px;
}
.newstitle{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 13px;
	color: Black;
    font-weight:bold;
    margin-bottom:0px; 
    padding-left:16px;
    padding-right:17px;
}
.news p{
	font-family: Arial, "Trebuchet MS", Helvetica, sans-serif;
	font-size: 13px;
	text-decoration: none;
	color: #343434;
	line-height: 16px;
    margin-top:0px;
    padding-left:23px;
    padding-right:17px;
}
.form_field {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 12px;
	padding: 2px;
	margin:5 0 0 0;
	color: black;
	background: #FFFFFF;
	border-style: solid;
	border-color: silver;
	border-width: 1px;
}
.form_button {
	font-family: verdana,helvetica,sans-serif;
	font-size: 11px;
	color: Black;
	margin:7 0 0 0;
	padding:2px;
	background: Silver;
	border-style: solid;
	border-color: Gray;
	border-width: 1px;
}
.footer{
	font-family: Arial, "Trebuchet MS", Helvetica, sans-serif;
	font-size: 17px;
    color: black;
	text-decoration: none;
	line-height: 18px;
}
.leftmenuhead{
	font-family: Arial, "Trebuchet MS", Helvetica, sans-serif;
	font-size: 18px;
    color: #542b77;
    font-weight:bold;
 }
.leftmenu{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 14px;
    color: black;
	word-wrap: break-word;
    text-decoration: none;
	line-height: 24px;
}
.leftmenusub{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 12px;
    color: #866EA0;
    text-decoration: none;
	line-height: 16px;
    margin-left:15px;
}
.leftmenu:hover{
    color: #ff7d1e;
}
.image {
    padding: 5px;
}
.form_field {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 12px;
	padding: 2px;
	margin:5 0 0 0;
	color: black;
	background: #FFFFFF;
	border-style: solid;
	border-color: silver;
	border-width: 1px;
}
.form_button {
	font-family: verdana,helvetica,sans-serif;
	font-size: 11px;
	color: Black;
	margin:7 0 0 0;
	padding:2px;
	background: Silver;
	border-style: solid;
	border-color: Gray;
	border-width: 1px;
}
img.alignright{ float:right; }
img.alignleft{ float:left; }
